<!DOCTYPE html>

<% include header.ejs %>
<div class="container services">
<div id = "jumbotron" class="well jumbotron">
<h1><%= title %></h1>
</div>
<div>
    <table class="bordered">
        <thead>
          <tr >
            <th>Course Name</th>
            <th>Course ID</th>
            <th>Class Room</th>
          </tr>
        </thead>
  
        <tbody>
          <% for(var i=0; i < result.length; i++) { %>
         <tr>
          <td>
            <a href="/hw/<%= result[i].courseName %>" id="<%= result[i].courseName %>" title="<%= result[i].courseName %>">
               <%= result[i].courseName %>
            </a>
          </td>
          <td><%= result[i].courseID %></td>
          <td><%= result[i].classroom %></td>
         </tr>
      <% } %>
        </tbody>
      </table>
</div>
</div>
<% include footer.ejs %>
