<!DOCTYPE html>
<% include studentHeader.ejs %>
<div class="container services">
<div class="jumbotron" >
<h2><strong><%= title %></strong></h2>        
</div>
    <table class="bordered">
        <thead>
            <tr>
                <th>Homework Name</th>
                <th>Upload Status</th>
                <th>Due Date</th>
                <th>Submit Time</th>
                <th>Grade</th>   
                <th>Can Be Delayed</th>    
                <th>Upload Homework</th>   
            </tr>
        </thead>   
        <tbody>
            <tr>
                <%  for(let i=0; i < result.homeworks.length; i++) { %>
                <td id="<%= result.homeworks[i].homeworkName %>"><%= result.homeworks[i].homeworkName %></td>
                <td id="homeworkState_<%= result.homeworks[i].homeworkName %>"><%= result.grades[i].homeworkState %></td>
                <td id="dueDate_<%= result.homeworks[i].homeworkName %>"><%= result.homeworks[i].dueDate %></td>
                <td id="submitTime_<%= result.homeworks[i].homeworkName %>"><%= result.grades[i].submitTime %></td>
                <td id="homeworkGrade_<%= result.homeworks[i].homeworkName %>"><%= result.grades[i].homeworkGrade %></td>
                <td ><%= result.homeworks[i].dueDateExtension ? "Yes" : "No" %></td>
                <td><a class="btn btn-info" id="uploadhomework_<%= result.homeworks[i].homeworkName %>" href="/listHomework/uploadHomework?homework_uuid=<%= result.homeworks[i]._id %>&studentID=<%= result.studentID %>" >Upload</a></td>                                       
            </tr>
            <% } %>             
        </tbody>
    </table>
</div>
<% include footer.ejs %>
