<!DOCTYPE html>
<% include studentHeader.ejs %>

<div class="container services">
<div class="jumbotron" >
<h2><strong><%= title%></strong></h2>     

</div>
    <table  class="bordered">
        <thead>
            <tr>
                <th>Course ID</th>
                <th>Course Name</th>
                <th>Classroom</th>
                <th>Teacher</th>
                <th>Enter the Classroom</th>                                          
            </tr>
        </thead>   
        <tbody>
            <%  for(let i=0; i < result.course.length; i++) { %>
            <tr>
                <td><%= result.course[i].courseID %></td>
                <td><%= result.course[i].courseName %></td>
                <td><%= result.course[i].classroom %></td>
                <td><%= result.course[i].instructor %></td>
                <td><a class="btn btn-info" id = "enter<%= result.course[i].courseName %>" href="/listHomework?courseName=<%= result.course[i].courseName %>&studentID=<%= result.studentID %>">Enter</a></td>                                       
            </tr>
            <% } %>           
        </tbody>
    </table>
</div>
<% include footer.ejs %>