<% include header.ejs %>
<div class="container services">
<div class="well jumbotron">
<h2><%= title %></h2>
</div>
    <table class="bordered">
        <thead>
            <tr>
                <th>Student ID</th>
                <th>Student Name</th>
                <th>Grade</th>
                <th>Submit Time</th>
                <th>Mark Homework</th>                                          
            </tr>
        </thead>   
        <tbody>
            <% for(var i=0; i < result.length; i++) { %>
            <tr>
                <td id="<%= result[i].studentID %>" ><%= result[i].studentID %></td>
                <td><%= result[i].studentName %></td>
                <td id="grade_<%= result[i].studentID %>" ><%= result[i].homeworkGrade %></td>
                <td><%= result[i].submitTime %></td>
                <td><a class="btn btn-info" id="toMark_<%= result[i].studentID %>" href="/markHomework/person/info/<%= result[i].studentID %>/<%= result[i].homework_uuid %>" title="Mark Homework">Mark</a></td><!-- href到個人 -->
            </tr>
            <% } %>
        </tbody>
    </table>
</div>
<% include footer.ejs %>